fastapi
uvicorn
jinja2
python-multipart
aiofiles
itsdangerous
openpyxl
python-dotenv
pandas
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
psycopg2-binary
requests
pytest
httpx
slowapi
apscheduler
tzdata

boto3>=1.28.0
