{% extends "base.html" %}

{% block content %}

<h2>Materiales de {{ maquina[0] }}</h2>

<table>

<tr>
<th>Material</th>
<th>Cantidad por unidad</th>
</tr>

{% for m in materiales %}

<tr>
<td>{{ m[0] }}</td>
<td>{{ m[1] }}</td>
</tr>

{% endfor %}

</table>

<h3>Agregar material</h3>

<form method="post" action="/materiales_maquina/{{ maquina_id }}/agregar">

<select name="referencia">

{% for i in inventario %}

<option value="{{ i[0] }}">{{ i[0] }}</option>

{% endfor %}

</select>

<input type="number" step="0.01" name="cantidad" required>

<button class="btn" type="submit">
Agregar
</button>

</form>

{% endblock %}